<!Programa HTML                                           >
<!Despliega el formulario para la creacion de una Auditoria >
<!Programado por Marco A. Villalobos M.                   >
<!========================================================>

{% extends "base_generic.html" %}
{% block content %}

	{% block enc_activo %}

	<ul class="encabezado_A">
	<p><bb><strong>***&emsp;C R E A &emsp;  A U D I T O R I A&emsp; ***</strong></bb></p>
	</ul>

	{% endblock %}


	{% block declara %}

    	<form action="" method="post">
          {% csrf_token %}

			<ul class="scr4">
			<p>Codigo..........:&emsp;{{form.codigo }}</p>
			<p>Nombre...........:&emsp;{{form.nombre }}</p>
			<p>Objetivo.......:&emsp;{{form.objetivo }}</p>
			<br/>
			<p>Fecha inicio .......:&emsp;{{form.fecha_ini }}&emsp;&emsp;
			   Fecha Termino ......:&emsp;{{form.fecha_ter }}</p>
			<br/>
			<p>Auditor Ejecutor ...:&emsp;{{form.auditor_ejec}}&emsp;&emsp;
			   Supervisor .........:&emsp;{{form.auditor_sup}}</p>
			<br/>
			<p>Framework  .........:&emsp;{{form.framework}}</p>
			<br/>
			<p> <input type="submit" value="Crea Auditoria" id="boton" /></p>
	 		
		</form>
			<a href="{{ request.META.HTTP_REFERER }}"><span style='font-size:30px;'>&#128281</span></a>
			</ul>
		
	
	
	{% endblock %}

{% endblock %}


<script>
// Asegura que el boton se submit se presiona solo una vez evitando duplicar el registro en la Base
    $(document).ready(function() {
        var submitButton = $('boton');  // Reemplaza con el ID de tu botón
        submitButton.on('click', function() {
            submitButton.prop('disabled', true);
        });
    });
</script>

