<!Programa en HTML>
<!Despliega lista de FrameWorks disponibles >
<!Programado por Marco A. Villalobos Michelson>
<!==============================================>

{% extends "base_generic.html" %}


{% block content %}

{% block encabezado2 %}
	<ul class="encabezado_B">
        <strong>F R A M E W O R K S</strong>
	</ul>
{% endblock %}

	<ul class="scr">
		<br/>	

		<table class="lta">
		   <thead class="encabezado_A">
		   <tr>
			<!-- <th scope="col">Codigo</th> -->
			<th scope="col">Nombre Framework</th>
			<th scope="col">version</th>
			<th scope="col">Nro.Mod.</th>
			<th scope="col">Descripcion</th>
			<th scope="col">Institucion Emisora</th>
			<th scope="col"><a href="{% url 'Crea-Framework' %}"><strong><aa style="font-size:20px"><sa>____</sa>&#10010<sa>_____</sa></aa></strong></a></th>
	
		   </tr>
		   </thead>

		   <body>
			{% if lista_framework %}

		    	{%for fwk in lista_framework.all  %}
		    	<tr>
				<!-- <th scope="row"><bb>{{fwk.numero}}<bb></th> -->
				<th scope="row"><bb>{{fwk.fw_nombre}}<bb></th>
				<th scope="row"><bb>{{fwk.fw_version}}<bb></th>
				<th scope="row"><bb>{{fwk.nro_modulos}}<bb></th>
				<th scope="row"><bb>{{fwk.fw_descrip}}<bb></th>
				<th scope="row"><bb>{{fwk.fw_inst}}<bb></th>
					<th scope="row">
						<a href="{% url 'Lista-Mod-M' fwk.pk %}" alt="Ver Framework">&#128213</a>&nbsp;
						<a href="{% url 'Lista-Mod-M' fwk.pk %}">&#128065</a>&nbsp;
						<a href="{% url 'Borra-Framework' fwk.pk %}">&#128465</a>&nbsp;
						<a href="{% url 'Exp-FrametoExcel' fwk.pk %}">&#128228</a>
					</th>
				
		    	</tr>
       		    {% if not forloop.last %}
        	        {%endif%}
      		    {%endfor%}
		   
			{%else%}
				  <p> No hay FrameWorks definidos</p>
		  	{%endif%}

		   	<tbody>
			
		</table>
		    
	</ul>



{%block pie%}
	<br/>
	<ul class="encabezado_SB">
	

	<strong><aa style="font-size:10px">&#10010</aa>:<tm>Crea FrameWork&emsp;</tm></strong>
	<strong><sa style="font-size:10px">&#128213</sa>:<tm>Ir a FrameWork&emsp;</tm></strong>
	<strong><sa style="font-size:10px">&#128228</sa>:<tm>Exportar a Excel&emsp;</tm></strong>

	
	</ul>
{% endblock %}


{% endblock %}
